<div class="container-fluid">
  <div class="col-12">
    <h1>Informes</h1>
    <div class="separator mb-5"></div>
  </div>

  <div class="row mb-4">
    <div class="col-12">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="mb-4">Filtrado</h5>
          <div class="form-group mb-3">
            <label>Date</label>
            <input type="date" class="form-control datepicker" />
          </div>
          <button type="button" class="btn btn-primary mb-1">Filtrar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="icon-cards-row">
        <div class="glide dashboard-numbers">
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides row">
              <li class="glide__slide col-3">
                <div class="card">
                  <div class="card-body text-center">
                    <i class="iconsminds-clock"></i>
                    <p class="card-text mb-0">Ventas Por Periodo</p>
                    <p class="lead text-center">16</p>
                  </div>
                </div>
              </li>
              <li class="glide__slide col-3">
                <div class="card">
                  <div class="card-body text-center">
                    <i class="iconsminds-clock"></i>
                    <p class="card-text mb-0">Producción Por Periodo</p>
                    <p class="lead text-center">16</p>
                  </div>
                </div>
              </li>
              <li class="glide__slide col-3">
                <div class="card">
                  <div class="card-body text-center">
                    <i class="iconsminds-clock"></i>
                    <p class="card-text mb-0">Gastos Operativos Por Periodo</p>
                    <p class="lead text-center">16</p>
                  </div>
                </div>
              </li>
              <li class="glide__slide col-3">
                <div class="card">
                  <div class="card-body text-center">
                    <i class="iconsminds-clock"></i>
                    <p class="card-text mb-0">
                      Gastos Administrativos Por Periodo
                    </p>
                    <p class="lead text-center">16</p>
                  </div>
                </div>
              </li>
              <li class="glide__slide col-3">
                <div class="card">
                  <div class="card-body text-center">
                    <i class="iconsminds-clock"></i>
                    <p class="card-text mb-0">
                      Gastos Publicitarios Por Periodo
                    </p>
                    <p class="lead text-center">16</p>
                  </div>
                </div>
              </li>
              <li class="glide__slide col-3">
                <div class="card">
                  <div class="card-body text-center">
                    <i class="iconsminds-clock"></i>
                    <p class="card-text mb-0">Otros Gastos Por Periodo</p>
                    <p class="lead text-center">16</p>
                  </div>
                </div>
              </li>
              <li class="glide__slide col-3">
                <div class="card">
                  <div class="card-body text-center">
                    <i class="iconsminds-clock"></i>
                    <p class="card-text mb-0">Total De Gastos Por Periodo</p>
                    <p class="lead text-center">16</p>
                  </div>
                </div>
              </li>
              <li class="glide__slide col-3">
                <div class="card">
                  <div class="card-body text-center">
                    <i class="iconsminds-clock"></i>
                    <p class="card-text mb-0">Ganancia Por Periodo</p>
                    <p class="lead text-center">16</p>
                  </div>
                </div>
              </li>
              <li class="glide__slide col-3">
                <div class="card">
                  <div class="card-body text-center">
                    <i class="iconsminds-clock"></i>
                    <p class="card-text mb-0">Utilidad Por Periodo</p>
                    <p class="lead text-center">16</p>
                  </div>
                </div>
              </li>
              <li class="glide__slide col-3">
                <div class="card">
                  <div class="card-body text-center">
                    <i class="iconsminds-clock"></i>
                    <p class="card-text mb-0">Nuevos Clientes</p>
                    <p class="lead text-center">16</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
